@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: IntegralCF;
    src: url(../public/IntegralCF-Bold.otf);
}

.Integral {
    font-family: IntegralCF;
}

/* DM sans  */
@font-face {
    font-family: DMsans500;
    src: url(../public/DMSans-Regular.ttf);
}

.dms-regular {
    font-family: DMsans500;
}
@font-face {
    font-family: DMsans700;
    src: url(../public/DMSans-Medium.ttf);
}

.dms-medium {
    font-family: DMsans700;
}
@font-face {
    font-family: DMsans900;
    src: url(../public/DMSans-Bold.ttf);
}

.dms-bold {
    font-family: DMsans900;
}